@font-face {font-family: 'Fira Sans Condensed';font-style: normal;font-weight: 400;src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'), url(https://fonts.gstatic.com/s/firasanscondensed/v1/HQGj1o4-qj8agzakWWMQw_Y-MmEXOjrr6S3itjMzHRI.woff2) format('woff2');unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;}

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

h2 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.h4, h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.navbar-nav {
    font-size: 14px;
}

ol.api li {
    position: relative;
    display: block;
    padding: 0 20px 0 80px;
    margin: 35px 0 0 -30px;
    background: #f0f0f0;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    height: 45px;
    line-height: 42px;
    border: 1px solid #f0f0f0;
    font-weight: 400;
    font-size: 18px;
    font-family: courier;
}

ol.api li:before {
    text-transform: uppercase;
    content: "" attr(value);
    counter-increment: li;
    position: absolute;
    left: -10px;
    top: 0;
    margin-top: -1px;
    background: #337ab7;
    height: 45px;
    line-height: 43px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all .3s ease-out;
    color: #fff;
    font-size: 20px;
    padding: 0 15px;
    text-shadow: 0 0 2px rgba(33,26,145,.35);
}

#bodyContent img {
    border: solid 1px #ddd;
}

table img {
    border: none;
}

table {
    width: 100%;
    background-color: #efefef;
}

td {
    padding: 0 15px;
    border: 1px solid #ccc;
}